<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drummer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">  
    <link rel="stylesheet" href="drummer.css">
    
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Drummer</a>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <button class="btn btn-success my-2 my-sm-0 navbutton" v-on:click="onPlay" :disabled="!paused">Play</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-danger my-2 my-sm-0 navbutton" v-on:click="onStop" :disabled="paused">Stop</button>
              </li>
              <li class="nav-item">
                  &nbsp;&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-secondary my-2 my-sm-0 navbutton" v-on:click="onClear">Clear</button>
              </li>
              <li class="nav-item">
                   <input id="bpmcontrol" class="form-control" type="number" min="20" max="200" v-model="bpm" >
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-secondary my-2 my-sm-0 navbutton" v-on:click="onBpm">BPM</button>
              </li>
            </ul>
          </div>
        </nav>
        <div  class="container-fluid">
          <table class="table" >
            <tr>
              <th>Sound</th>
              <th colspan="sequenceLengyth"></th>
              <th>Mute</th>
            </tr>
            <tr v-for="seq,name in sequence">
                <th>{{ name }}</th>
                <td class="list-inline-item seqitem inactive" v-for="i,j in seq" v-bind:class="{ active: j == pos }">
                  <input class="form-check-input" type="checkbox" v-model="seq[j]"> 
                </td>
                <th class="mute">
                  <input class="form-check-input" type="checkbox" v-model="sounds[name].mute">
                </th> 
            </tr>
          </table>

        </div>
    </div>




    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="drummer.js"></script>
  </body>
</html>