<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drummer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#666666">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">  
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="drummer.css">
  </head>
  <body>
    <div id="app">
      
      <!-- nav -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Drummer</a>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <button class="btn btn-success my-2 my-sm-0 navbutton" v-on:click="onPlay" :disabled="!paused">Play</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-danger my-2 my-sm-0 navbutton" v-on:click="onStop" :disabled="paused">Stop</button>
              </li>
              <li class="nav-item">
                  &nbsp;&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-secondary my-2 my-sm-0 navbutton" v-on:click="onClear">Clear</button>
              </li>
              <li class="nav-item">
                   <input id="bpmcontrol" class="form-control" type="number" min="20" max="200" v-model="bpm" >
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-secondary my-2 my-sm-0 navbutton" v-on:click="onBpm">BPM</button>
              </li>
              <li class="nav-item">
                  &nbsp;&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                  <input id="seqcontrol" class="form-control" type="number" min="3" max="32" v-model="sequenceLength" >
             </li>
              <li class="nav-item">
                  <button class="btn btn-outline-secondary my-2 my-sm-0 navbutton" v-on:click="onSeqLen">Notes</button>
              </li>
              <li class="nav-item">
                  &nbsp;&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-warning my-2 my-sm-0 navbutton" v-on:click="onLoad">Load</button>
              </li>
              <li class="nav-item">
                  <input id="name" class="form-control" type="string" v-model="name" >
             </li>
              <li class="nav-item">
                  <button class="btn btn-outline-success my-2 my-sm-0 navbutton" v-on:click="onSave" :disabled="name.length==0">Save</button>
              </li>
            </ul>
          </div>
        </nav>

        <!-- startup alert -->
        <div id="welcome" class="alert alert-secondary show" role="alert">
          <h2>Welcome to Drummer</h2>
          <div class="container">
            <div class="row">
                <div class="col">
                  <img src="img/cr78.png" class="image-responsive" />
                </div>
                <div class="col">
                  <h3>Welcome to Drummer</h3>
                  <p>
                    Drummer is a drum machine app. It uses samples of the classic CR78 but is 
                    programmed by simply clicking events onto a repeating timeline.
                  </p>
                  <p>
                    It is built with the <a href="https://howlerjs.com/">Howler JavaScript audio library</a> and brought to life with
                    <a href="https://vuejs.org/">Vue.js</a> and <a href="http://getbootstrap.com/">Bootstap 4</a>. It uses <a href="https://pouchdb.com/">PouchDB</a> to store your loops in a local database
                    in your web browser, but you can also sync this collection to a remote <a href="http://couchdb.apache.org/">CouchDB</a>
                    or <a href="https://www.ibm.com/analytics/us/en/technology/cloud-data-services/cloudant/">Cloudant</a> database for safe-keeping.
                  </p>
                  <p>
                    Have fun! This is an open-source project and the <a href="https://github.com/ibm-watson-data-lab/drummer">code can be found here</a>.
                  </p>
                  <p>
                    <button v-on:click="onGetStarted" class="btn btn-primary btn-lg">Start</button>
                </div>
              </div>
          </div>
        </div>

        <!-- sequence editor -->
        <a name="start"></a>
        <div  class="container-fluid">
          <table class="table" >
            <tr>
              <th>Sound</th>
              <th colspan="sequenceLengyth"></th>
              <th>Mute</th>
            </tr>
            <tr v-for="seq,name in sequence">
                <th>{{ name }}</th>
                <td class="list-inline-item seqitem inactive" v-for="i,j in seq" v-bind:class="{ active: j == pos }">
                  <input class="form-check-input" type="checkbox" v-model="seq[j]"> 
                </td>
                <th class="mute">
                  <input class="form-check-input" type="checkbox" v-model="sounds[name].mute">
                </th> 
            </tr>
          </table>

        </div>

        <!-- load modal -->
        <div id="loadModal" class="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Load</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Select file to load</p>
                <select v-model="name">
                  <option value="">-----</option>
                  <option v-for="f in files">{{ f }}</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="onModalLoad">Load</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- end load modal -->

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.min.js"></script>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/pouchdb/pouchdb@6.3.4/dist/pouchdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/pouchdb/pouchdb@6.3.4/dist/pouchdb.find.min.js"></script>
    <script src="drummer.js"></script>
    <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js').then(function() { console.log("Service Worker Registered"); });
      }
    </script>
  </body>
</html>
